body{
    margin: 0 auto;
    background: blue;
}

.top_cupom{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
    background: #efefef;
}
.menu_info{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 45px;
    text-align: center;
    background: #000000;
}
.menu_info_box{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 45px;
    /*background: yellow;*/
}
.menu_info_box-logo{
    position: relative;
    margin: 0 auto;
    float: left;
    width: auto;
    height: 20px;
    background: white;
    padding: 12.5px; 
}
.img_logo1{
    float: left;
    height: 20px;
}
.menu_info_box-menu{
     position: relative;
    margin: 0 auto;
    float: left;
    width: auto;
    height: 45px;
}
.mn1{
    float: left;
    font-family: arial;
    font-size: 13px;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
}
.mn1:hover{
    color: #ff009c;
}
.mn1_card{
    float: left;
    font-family: arial;
    font-size: 13px;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    background: #ff009c;
    border-radius: 20px;
    margin: 8px 0;
}
.mn1_card:hover{
    color: black;
}
.menu{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 145px;
    background: white;
}
.menu_box{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 145px;
}
.menu_box_1{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 85px;
}
.menu_box_2{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 60px;
}
.menu_box_1_logo, .menu_box_1_pesq, .menu_box_1_entre, .menu_box_1_car{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 256px;
    height: 85px;
}
.menu_box_1_logo{
    background: white;
}
.menu_box_1_pesq{
    background: white;
}
.menu_box_1_entre{
    background-image: url("images/user_icon.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}   

.img_logo2{
    float: left;
    height: 45px;
    padding: 20px 0px;
}
.inp_pesq{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 8px 5px;
    border: solid 1px #ff009c;
    float: left;
}
.btpesq{
    height: 34px;
    width: 30px;
    background: #ff009c;
    margin: 0;
    float: left;
    border: solid 1px  #ff009c;
    background-image: url("images/lupa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;

}
.menu_box_1_pesq form{
    padding:26px 0px;
}
.link_entre{
    text-decoration: none; 
    font-family: arial;
    font-size: 15px;
    color: grey;
    float: left;
    line-height: 85px;
    margin-left: 50px;
}  
.box_car{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 50px;
    height: 85px;
    background-image: url(images/icon_bolsa.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;

}
.box_car span{
    font-family: arial;
    font-size: 15px;
    color: white;
    background: #ff009c;
    padding: 1px 5px;
    border-radius: 20px;
    margin-top: 45px;
    margin-left: 30px;
    float: left;
}
.box_texto_car{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 206px;
    height: 85px;
    padding: 27.5px 0px;
}
  
.box_texto_car label{
    font-family: arial;
    font-size: 15px;
    color: #666;
    display: block;
}

.mn2{
    font-family: arial;
    font-size: 15px;
    color: #444;
    padding: 10px 20px;
    line-height: 60px;
    text-decoration: none;
    font-weight: bold;
}
.mn2:hover{
    color: #ff009c;
}
.frete{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 39px;
    text-align: center;
    background: #272526;
}

.banner{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 847px;
    background-image: url("images/baner.gif");
    background-position: center center; 
    background-repeat: no-repeat;
}